Software Requirements:-

1) the input data should be valid
   a) Input should be a list type
2) Continuous Range should be found
   a) for a single value it should be empty
   b) for empty list also it should be empty
3) Number of readings in a continuous range should be found
4) Output of the continuous range and number of readings should be in a csv format


Assumptions:-

1) Input data should always be positive as current values cannot be negative.
2) Continuous range for single value should be empty.


Test Requirements:-

1) To validate input data
   a) pass string as input data, the function should return False as output.
   b) pass list as input data, the function should return True as output.

2) To find continuous range
   a) pass [], continuous range should be [].
   b) pass [1] as input, continuous range should be [].
   c) pass [4,5] as input, continuous range should be [[4,5]].
   d) pass [4,5,6] as input, continuous range should be [[4,6]].
   e) pass [4,6,5,7] as input, continuous range should be [[4,7]].
   f) pass [4,5,6,9,8,10] as input, continuous range should be [[4,6], [8,10]].

3) To find number of readings in continuous range:-
   a) pass [], number of readings should be [].
   b) pass [4,5] as input, number of readings should be [2].
   c) pass [4,5,6] as input, number of readings should be [3].
   d) pass [4,6,5,7] as input, number of readings should be [[4].
   e) pass [4,5,6,9,8,10] as input, number of readings should be [3, 3].

4) To check output of program in csv format:-
   a) pass continuous range as [[4, 5]] and number of readings as [2], output should be "Range, Readings\n4, 5, 2"
   b) pass continuous range as [[4, 5], [7, 8]] and number of readings as [2, 2], output should be "Range, Readings\n4, 5, 2\n7, 8, 2"

